/* Custom CSS */
/* =============== */

/* Colors */
.logo {
	color: #80a8cc;
}

/* Tweets */
.tweets {
	background-color: #eee;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 15px;
	margin-bottom: 20px;
}

.tweet {
	background-color: #fff;
	padding: 20px;
	border-bottom: 1px solid #eee;
}

.tweet:first-child, .tweet:last-child {
	margin: 0;
}

.author {
	color: black;
	font-weight: bold;
}

.datestamp {
	color: #ccc;
	margin-left: 15px;
}

.message {
	margin-top: 15px;
}

/* Profile */
.profile {
	color: #f1f1f1;
	background-color: #80a8cc;
	padding: 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.bio {
	margin: 15px 0 35px 0;
}
